.apply-btn {
    width: 25%;
    float: right;
    font-weight: bolder;
    color: white;
    background-color: #0063b2;
    border-color: #0063b2;
    outline: 0;
    box-shadow: rgba(156, 195, 213, 0.25);

}