<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Policies | Safety Car</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" rel="stylesheet">
    <link th:href="@{/css/our-styles.css}" href="../static/css/our-styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link th:href="@{/css/heading.css}" rel="stylesheet" href="../static/css/heading.css">
    <link th:href="@{/css/body.css}" rel="stylesheet" href="../static/css/body.css">
    <link th:href="@{/css/custom.css}" rel="stylesheet" href="../static/css/custom.css">

</head>

<body>
<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" onclick="location.href ='/'">SAFETY
        CAR</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded"
                type="button"
                data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">Menu <i
                class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                                     onclick="location.href = '/policies'">Policies</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                                     onclick="location.href = '/logout'">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<section id="Message" class="page-section">

    <div class="container mt-5">
        <form th:action="@{'/admin/criteria'}" method="post" enctype="multipart/form-data">
            <div class="col-sm-12">
                <div class="row">
                    <div class="offset-3 col-sm-3">
                        <button type="submit" class="btn btn-primary">Upload new Criteria</button>
                    </div>
                    <div class="col-sm-3 pt-1">
                        <input type="file" accept="text/*" name="file" class="form-control-file" th:autofocus
                               autocomplete required>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="container mt-5">
        <div class="text-center">
            <div th:if="${criterias.isEmpty()}">
                <h6 class="page-section-heading text-white my-3 d-inline-block"
                    th:text="#{agent.header.noCriterias}">No criteria set</h6>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <table class="table table-striped table-bordered mx-2 bg-light">
            <thead>
            <tr>
                <th>Cubic Capacity MIN</th>
                <th>Cubic Capacity MAX</th>
                <th>Car Age MIN</th>
                <th>Car Age MAX</th>
                <th>Base Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="criteria : ${criterias}">
                <th th:text="${criteria.getCcMin()}">0</th>
                <th th:text="${criteria.getCcMax()}">1,047</th>
                <th th:text="${criteria.getCarAgeMin()}">0</th>
                <th th:text="${criteria.getCarAgeMax()}">19</th>
                <th th:text="${criteria.getBaseAmount()}">403.25</th>
            </tr>
            </tbody>
        </table>
    </div>
</section>


<!-- Copyright Section-->
<section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Your Website 2020</small></div>
</section>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded"
                                                       href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Contact form JS-->
<script src="assets/mail/jqBootstrapValidation.js"></script>
<script src="assets/mail/contact_me.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

<script th:inline="javascript">

    $('#filter-input').hide();

    $('#filter-select').change(function () {
        const shouldDisplayInput = $(this).val() !== "any";
        const inputFilter = $(this).val();
        const inputField = $('#filter-input');
        const animationTime = 250;

        if (shouldDisplayInput) {
            let fieldType
            if (inputFilter !== "date") {
                fieldType = 'text';
            } else {
                fieldType = 'date';
            }
            inputField.get(0).type = fieldType
            inputField.show(animationTime);
        } else {
            inputField.hide(animationTime);


        }
    });

</script>


</body>

</html>