<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>My Profile | Safety Car</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" rel="stylesheet">
    <link th:href="@{/css/our-styles.css}" href="../static/css/our-styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link th:href="@{/css/heading.css}" rel="stylesheet" href="../static/css/heading.css">
    <link th:href="@{/css/body.css}" rel="stylesheet" href="../static/css/body.css">
</head>

<body id="page-top">

<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top" onclick="location.href ='/'">SAFETY
        CAR</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                                     onclick="location.href = '/offer'">Calculate Offer</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                                     sec:authorize="isAuthenticated()"
                                                     onclick="location.href = '/policies'">Policies</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <form class="form"
                          th:if="${#authentication.name == customer.email}"
                          th:action="@{'/profile/update'(id=${customer.getEmail()})}" method="get">
                        <button type="submit" class="btn btn-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">Account
                            Settings
                        </button>
                    </form>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                                     sec:authorize="isAuthenticated()"
                                                     onclick="location.href = '/logout'">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h4 class="masthead-heading mb-0">My Profile</h4>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="info">
            <div class="user-details">
                <p class="username" th:text="${customer.email}">@username</p>
            </div>
            <div class="user-details">
                <span class="name" th:text="#{customer.city}">City:</span>
                <span class="name" th:text="${customer.city}">City</span>
            </div>
            <div class="user-details">
                <span class="name" th:text="#{customer.street}">Street:</span>
                <span class="name" th:text="${customer.street}">Street</span>
            </div>
            <div class="user-details">
                <span class="name" th:text="#{customer.phone}">Phone:</span>
                <span class="username" th:text="${customer.phone}">Phone</span>
            </div>
        </div>
    </div>
</header>

<section class="page-section Online Calculator" id="Online Calculator">
    <div class="container">
        <div class="text-center">
            <div class="container">
                <div class="row mt-5 justify-content-center">
                    <div class="card card-custom mx-2 mb-3" style="width: 30rem;">
                        <div class="card-header"><h3>Pending</h3></div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div th:if="${policies.isEmpty()}">
                                    <h6 th:text="#{customer.header.noPolicies}">No policies</h6>
                                </div>
                                <div th:if="${policy.status == policy.status.PENDING}"
                                     th:each="policy : ${policies}">
                                    <div class="text" style="font-size: 16px; line-height: 110%; color: #00477f;">
                                        <form class="form" th:action="@{/policies/{id}(id=${policy.id})}" method="get">
                                            <button type="submit"
                                                    class="btn btn-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">
                                                <a th:text="${policy.model.brand.name}">Details</a>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row mt-5 justify-content-center">
                    <div class="card card-custom mx-2 mb-3" style="width: 30rem;">
                        <div class="card-header"><h3>Accepted</h3></div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div th:if="${policies.isEmpty()}">
                                    <h6 th:text="#{customer.header.noPolicies}">No policies</h6>
                                </div>
                                <div th:if="${policy.status == policy.status.ACCEPTED}"
                                     th:each="policy : ${policies}">
                                    <div class="text" style="font-size: 16px; line-height: 110%; color: #00477f;">
                                        <form class="form" th:action="@{/policies/{id}(id=${policy.id})}" method="get">
                                            <button type="submit"
                                                    class="btn btn-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">
                                                <a th:text="${policy.model.brand.name}">Details</a>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row mt-5 justify-content-center">
                    <div class="card card-custom mx-2 mb-3" style="width: 30rem;">
                        <div class="card-header"><h3>Rejected</h3></div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div th:if="${policies.isEmpty()}">
                                    <h6 th:text="#{customer.header.noPolicies}">No policies</h6>
                                </div>
                                <div th:if="${policy.status == policy.status.REJECTED}"
                                     th:each="policy : ${policies}">
                                    <div class="text" style="font-size: 16px; line-height: 110%; color: #00477f;">
                                        <form class="form" th:action="@{/policies/{id}(id=${policy.id})}" method="get">
                                            <button type="submit"
                                                    class="btn btn-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">
                                                <a th:text="${policy.model.brand.name}">Details</a>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row mt-5 justify-content-center">
                    <div class="card card-custom mx-2 mb-3" style="width: 30rem;">
                        <div class="card-header"><h3>Canceled</h3></div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div th:if="${policies.isEmpty()}">
                                    <h6 th:text="#{customer.header.noPolicies}">No policies</h6>
                                </div>
                                <div th:if="${policy.status == policy.status.CANCELED}"
                                     th:each="policy : ${policies}">
                                    <div class="text" style="font-size: 16px; line-height: 110%; color: #00477f;">
                                        <form class="form" th:action="@{/policies/{id}(id=${policy.id})}" method="get">
                                            <button type="submit" class="btn btn-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">
                                                <a th:text="${policy.model.brand.name}">Details</a>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Copyright Section-->
<section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Your Website 2020</small></div>
</section>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed"><a
        class="js-scroll-trigger d-block text-center text-white rounded"
        href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Contact form JS-->
<script src="assets/mail/jqBootstrapValidation.js"></script>
<script src="assets/mail/contact_me.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

</body>

</html>