<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Safety Car | Offer</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link th:href="@{/css/heading.css}" rel="stylesheet" href="../static/css/heading.css">
    <link th:href="@{/css/body.css}" rel="stylesheet" href="../static/css/body.css">
</head>

<body id="page-top">

<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top"  onclick="location.href ='/'">SAFETY CAR</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded"
                type="button"
                data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">Menu <i
                class="fas fa-bars" ></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                        sec:authorize="!isAuthenticated()"
                        onclick="location.href = '/login'">Login</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                        sec:authorize="!isAuthenticated()"
                        onclick="location.href = '/register'">Join</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                        sec:authorize="isAuthenticated()"
                        onclick="location.href = '/policies'">Policies</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                                     sec:authorize="hasRole('ROLE_CUSTOMER')"
                                                     onclick="location.href = '/profile'">Profile</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                                     sec:authorize="isAuthenticated()"
                                                     onclick="location.href = '/logout'">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>

<form action="#" th:action="@{/offer}" th:object="${dto}" method="post">

    <section class="page-section Online Calculator my-5" id="Online Calculator">
        <div class="container">
            <!-- Online Calculator Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading text-secondary my-5 d-inline-block">Online
                    Calculator</h2>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <div class="form-group">
                        <label for="brand-dropdown">Vehicle Brand</label>
                        <select class="form-control" id="brand-dropdown">
                            <option value="brand" th:each="brand : ${brands}"
                                    th:value="${brand.modelsAsJson()}"
                                    th:text="${brand.name}"
                                    th:selected="${brand.hasModelWithId(dto.modelId)}">required
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="model-dropdown">Vehicle Model</label>
                        <select class="form-control" id="model-dropdown" name="modelId"
                                th:type="number" th:autofocus required
                                th:field="*{modelId}">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label for="date">First registration</label>
                    <input id="date" th:type="date" placeholder="e.g. 20-10-1996"
                           th:autofocus required  th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                           th:field="*{registrationDate}"
                           class="form-control">
                </div>
                <div class="col form-group">
                    <label for="cubics">Cubic capacity</label>
                    <input id="cubics" th:type="number" th:field="*{cubicCapacity}"
                           th:autofocus required th:min="1" th:max="999999"
                           placeholder="e.g. 1600" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="driverAge">Age of owner</label>
                        <input id="driverAge" class="form-control" th:field="*{driverAge}"
                               type="number" th:autofocus required th:min="18" th:max="84"  placeholder="18+">
                    </div>
                </div>
                <div class="col">
                    <div class="custom-control custom-switch">
                        <label>Accidents in the previous year:</label>
                        <br>
                        <input type="checkbox" class="custom-control-input"
                               name="hasPreviousAccidents"
                               th:field="*{hasPreviousAccidents}"
                               th:valuetype="bool"
                               id="accidentsCheck">
                        <input type="hidden" name="hasPreviousAccidents" value="false">
                        <label class="custom-control-label" for="accidentsCheck">No/Yes</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col my-4">
                    <button type="submit" class="btn btn-primary">Check Offer</button>
                    <button sec:authorize="hasRole('ROLE_CUSTOMER')" th:if="${total != null}" type="submit"
                            th:formaction="@{/policy}"
                            class="btn btn-primary ml-3">Request Policy
                    </button>
                </div>
                <div class="col form-group mx-sm-4 mb-2">
                    <label for="inputPremium">Expected Premium</label>
                    <input class="form-control" id="inputPremium"
                           th:value="${#numbers.formatDecimal(total, 0, 'COMMA', 2, 'POINT')}"
                           disabled>
                </div>
            </div>
            <p sec:authorize="!isAuthenticated()" class="text-center pt-4">You need to <a>
                <button class="btn btn-link p-0 mb-1" th:formaction="@{/login/offer}" type="submit">
                    Login
                </button>
            </a> or <a>
                <button class="btn btn-link p-0 mb-1" th:formaction="@{/register/offer}"
                        type="submit">
                    Create Account
                </button>
            </a> to send
                your request for
                premium.
            </p>
        </div>
    </section>
</form>
<!-- Copyright Section-->
<footer class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Your Website 2020</small></div>
</footer>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed"><a
        class="js-scroll-trigger d-block text-center text-white rounded"
        href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Contact form JS-->
<script src="assets/mail/jqBootstrapValidation.js"></script>
<script src="assets/mail/contact_me.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

<script th:inline="javascript">
    $('#brand-dropdown').change(function () {
        const modelsPerBrand = JSON.parse($('#brand-dropdown option:selected').val())

        const modelDropdownInput = $('#model-dropdown')
        modelDropdownInput.empty()
        modelDropdownInput.append($("<option />").val(-1).text("required"));
        modelsPerBrand.forEach(function (model) {
            modelDropdownInput.append($("<option />").val(model.id).text(model.name));
            if (model.id == [[${dto.modelId}]]) {
                modelDropdownInput.val(model.id)
            }
        })
    }).trigger("change")
</script>

</body>

</html>