<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Safety Car | Policy</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link th:href="@{/css/heading.css}" rel="stylesheet" href="../static/css/heading.css">
    <link th:href="@{/css/body.css}" rel="stylesheet" href="../static/css/body.css">


</head>
<body>

<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top" onclick="location.href ='/'">SAFETY
        CAR</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded"
                type="button"
                data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">Menu <i
                class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                        sec:authorize="isAuthenticated()"
                        onclick="location.href = '/policies'">Policies</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                                     sec:authorize="isAuthenticated()"
                                                     onclick="location.href = '/logout'">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="page-section" id="Request Policy">

    <div class="container">
        <form action="#" th:action="@{'/policy/create'}" th:object="${policyDto}" method="post"
              enctype="multipart/form-data">
            <div class="text-center">
                <h6 class="page-section-heading text-secondary my-5 d-inline-block">Request Policy
                </h6>
            </div>
            <div class="row">
                <div class="col">

                    <section id="Prefilled Offer">
                        <div class="text-left page-section-heading text-secondary my-5 d-inline-block font-"
                             style="font-size: 16px; line-height: 110%; color: #00477f;">
                            <br>

                            <p id="number">Policy No: <a th:text="${number}"></a></p>
                            <input type="hidden" th:field="*{policyNumber}" th:value="${number}">

                            <p id="brand">Brand:<a th:text="${model.brand.name}"></a></p>

                            <p id="model">Model: <a th:text="${model.name}"> </a></p>
                            <input type="hidden" th:field="*{modelId}" th:value="${model.id}">


                            <p>Cubic capacity: <a th:text="${offer.cubicCapacity}"></a></p>
                            <input type="hidden" th:field="*{cubicCapacity}" th:value="${offer.cubicCapacity}">


                            <p id="driverAge">Driver's age: <a th:text="${offer.driverAge}"></a></p>
                            <input type="hidden" th:field="*{driverAge}" th:value="${offer.driverAge}">


                            <p id="registrationDate">Registration date: <a
                                    th:text="${#dates.format(offer.registrationDate, 'dd-MM-yyyy')}"></a></p>
                            <input type="hidden" th:field="*{registrationDate}" th:value="${offer.registrationDate}">


                            <p id="hasPreviousAccidents">Previous accidents: <a
                                    th:text="${offer.hasPreviousAccidents} ? 'Yes' : 'No'"></a></p>
                            <input type="hidden" th:field="*{hasPreviousAccidents}"
                                   th:value="${offer.hasPreviousAccidents}">

                        </div>

                    </section>

                </div>

                <div class="col">
                    <section id="Contact Information">
                        <div class="text-left">
                            <p class="page-section-heading text-secondary my-5 d-inline-block font-"
                               style="font-size: 36px">Contact Information
                            </p>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="city">City</label>
                                    <input id="city" class="form-control" th:type="text" th:field="*{city}"
                                           th:value="${policyDto.city}"
                                           th:autofocus required th:minlength="3" th:maxlength="20"
                                           placeholder="City">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="street">Street</label>
                                    <input id="street" class="form-control" th:type="text" th:field="*{street}"
                                           th:value="${policyDto.street}"
                                           th:autofocus required th:minlength="3" th:maxlength="20"
                                           placeholder="Street No">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input id="phone" class="form-control" th:type="tel"  th:field="*{phone}"
                                           th:value="${policyDto.phone}"
                                           th:autofocus required
                                           pattern="^\+(?:[0-9]?){6,14}[0-9]$"
                                           placeholder="+359">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input id="email" class="form-control" th:type="email" th:field="*{email}"
                                           th:value="${policyDto.email}"
                                           th:autofocus autocomplete required
                                           pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
                                            placeholder="email">
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col">
                                <label for="effectiveDate">Effective date</label>
                                <input id="effectiveDate" th:type="date" placeholder="e.g. 20-10-1996"
                                       th:field="*{effectiveDate}"
                                       th:autofocus required th:min="${#dates.format(tomorrow, 'yyyy-MM-dd')}"
                                       class="form-control">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col my-2">
                                <input id="picture-input" type="file" name="registrationCertificate"
                                       style="border: transparent; color: #00477f;"
                                       th:autofocus autocomplete required
                                       accept="image/*"
                                       th:value="*{registrationCertificate}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col my-3">
                                <label for="total-premium">Total premium</label>
                                <input class="form-control" id="total-premium" th:value="${total}"
                                       disabled>
                                <input type="hidden" th:field="*{totalAmount}" th:value="${total}">
                            </div>
                            <div class="col my-5">
                                <button sec:authorize="isAuthenticated()" type="submit"
                                        class="btn btn-primary ml-3">Request Policy
                                </button>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </form>
    </div>

</section>


<footer class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Your Website 2020</small></div>
</footer>
</body>
</html>