<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Policies | Safety Car</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" rel="stylesheet">
    <link th:href="@{/css/our-styles.css}" href="../static/css/our-styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link th:href="@{/css/heading.css}" rel="stylesheet" href="../static/css/heading.css">
    <link th:href="@{/css/body.css}" rel="stylesheet" href="../static/css/body.css">
    <link th:href="@{/css/custom.css}" rel="stylesheet" href="../static/css/custom.css">

</head>

<body>
<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" onclick="location.href ='/'">SAFETY
        CAR</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded"
                type="button"
                data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">Menu <i
                class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                                     sec:authorize="hasRole('ROLE_AGENT')"
                                                     onclick="location.href = '/admin/criteria'">Update Criteria</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                                     sec:authorize="hasRole('ROLE_CUSTOMER')"
                                                     onclick="location.href = '/offer'">Calculate Offer</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                                     sec:authorize="hasRole('ROLE_CUSTOMER')"
                                                     onclick="location.href = '/profile'">Profile</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                                     sec:authorize="isAuthenticated()"
                                                     onclick="location.href = '/logout'">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h5 class="masthead-heading mb-0">All Policy Requests</h5>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="info">
            <div class="user-details">
                <p sec:authorize="isAuthenticated()">
                    User: <span sec:authentication="name"></span>
                    <br/>
                    Role: <span sec:authentication="principal.authorities"></span>
                </p>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <form th:method="get" th:action="@{/policies}">

        <div class="row mt-5 ml-2">

            <div class="form-group col-sm-2">
                <select id="filter-select" class="form-control" th:name="filterType">
                    <option value="any" selected>Any</option>
                    <option value="username" sec:authorize="hasRole('ROLE_AGENT')">Username</option>
                    <option value="date">Date</option>
                    <option value="number">Policy Number</option>
                    <option value="status" sec:authorize="hasRole('ROLE_CUSTOMER')">Status</option>
                </select>
            </div>

            <div class="form-group col-sm-3">
                <input id="filter-input" class="form-control" type="date"
                       th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                       th:name="filterKey"
                       placeholder="required"
                >
                <label for="filter-input"></label>
            </div>

            <div class="col ">
                <button type="submit" class="btn btn-primary mr-5 apply-btn">Apply</button>
            </div>

        </div>
    </form>
</div>
<br>

<section id="Message" class="page-section">
    <div class="container">
        <div class="text-center">
            <div th:if="${policies.isEmpty()}">
                <h6 class="page-section-heading text-white my-5 d-inline-block"
                    th:text="#{customer.header.noPolicies}">No policies</h6>
            </div>
        </div>
        <div th:each="policy : ${policies}">
            <div class="row mt-5 justify-content-center">
                <div class="card card-custom mx-2 mb-3" style="width: 30rem;">
                    <div class="card-header">
                        <p>Policy No: <a style="font-weight: bold" th:text="${policy.policyNumber}"></a></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="text" style="font-size: 16px; line-height: 110%; color: #00477f;">
                                <p>Status: <a style="font-weight: bold" th:text="${policy.status}"></a></p>
                                <p>Creation Date: <a style="font-weight: bold" th:text="${policy.creationDate}"></a>
                                </p>
                                <p>Total Premium: <a style="font-weight: bold"
                                                     th:text="${policy.totalAmount} % 1 == 0 ? ${policy.totalAmount} : ${#numbers.formatDecimal(policy.totalAmount, 0, 2)}"></a>
                                </p>
                                <form class="form" th:action="@{/policies/{id}(id=${policy.id})}" method="get">
                                    <button type="submit"
                                            class="btn btn-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">
                                        <a th:value="Details">Details</a>
                                    </button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<br><br><br><br>

<!-- Copyright Section-->
<section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Your Website 2020</small></div>
</section>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded"
                                                       href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Contact form JS-->
<script src="assets/mail/jqBootstrapValidation.js"></script>
<script src="assets/mail/contact_me.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

<script th:inline="javascript">

    $('#filter-input').hide();

    $('#filter-select').change(function () {
        const shouldDisplayInput = $(this).val() !== "any";
        const inputFilter = $(this).val();
        const inputField = $('#filter-input');
        const animationTime = 250;

        if (shouldDisplayInput) {
            let fieldType
            if (inputFilter !== "date") {
                fieldType = 'text';
            } else {
                fieldType = 'date';
            }
            inputField.get(0).type = fieldType
            inputField.show(animationTime);
        } else {
            inputField.hide(animationTime);


        }
    });

</script>


</body>

</html>